.footer {
  width: 100%;
  padding: 20px 0;
}

footer span {
  color: rgb(183, 0, 255);
}

.footer-inner {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-size: 12px;
  margin-bottom: 5px;
  position: relative;
}

.footer__title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 1px;
  width: 20%;
  background-color: rgb(126, 126, 126);
}

.footer__list-item {
  list-style: none;
  font-size: 12px;
}

.footer__list-item:hover a {
  color: rgb(183, 0, 255);
}

.footer__contacts {
  list-style: none;
  font-size: 12px;
}

.keyword {
  color: rgb(183, 0, 255);
  font-weight: bold;
}
