.header {
  width: 100%;
  padding: 20px 0;
}

.header__list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header__list-item {
  list-style: none;
  margin: 0 40px;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
}

.header__list-item:hover {
  color: #fff;
  background-color: rgb(183, 0, 255);
  border-color: rgb(183, 0, 255);
}

.statistics-item {
  text-align: center;
  margin: 0 40px;
  padding: 10px 20px;
}

.statistics-menu {
  justify-content: center;
}

/* Медиа запросы для адаптива */
@media screen and (max-width: 420px), screen and (max-height: 390px) {
  .header__list-item {
    margin: 0 3px;
    font-size: 12px;
    padding: 5px 15px;
  }
}
